In [1]:
import pandas as pd

In [2]:
import numpy as np    
import pickle

In [3]:
data=pd.read_csv("datajee.csv")

In [4]:
data.head()

,Name,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
0,A,3,1,54,1,1,1
1,B,4,1,30,1,1,0
2,C,3,1,24,0,0,0
3,D,2,0,20,0,-1,0
4,E,5,0,45,1,-1,1

In [5]:
data.describe()

,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
count,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000
mean,7.062222,0.111111,56.360000,0.582222,0.031111,0.671111
std,5.551355,0.845741,29.542482,0.537558,0.775697,0.470857
min,0.000000,-1.000000,0.000000,-1.000000,-1.000000,0.000000
25%,3.000000,-1.000000,32.000000,0.000000,-1.000000,0.000000
50%,5.000000,0.000000,59.000000,1.000000,0.000000,1.000000
75%,11.000000,1.000000,80.000000,1.000000,1.000000,1.000000
max,24.000000,3.000000,100.000000,1.000000,1.000000,1.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 7 columns):
Name                224 non-null object
Daily Hour          225 non-null int64
Coaching Mode       225 non-null int64
Syllabus Covered    225 non-null int64
Maintain            225 non-null int64
Psychology          225 non-null int64
Probablity          225 non-null int64
dtypes: int64(6), object(1)
memory usage: 12.4+ KB

In [7]:
data.isnull().sum()

Name                1
Daily Hour          0
Coaching Mode       0
Syllabus Covered    0
Maintain            0
Psychology          0
Probablity          0
dtype: int64

In [8]:
correlation=data.corr()            
correlation

,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
Daily Hour,1.000000,-0.141255,0.756419,0.138901,-0.024296,0.419469
Coaching Mode,-0.141255,1.000000,-0.215663,-0.005455,0.130805,-0.120824
Syllabus Covered,0.756419,-0.215663,1.000000,0.125331,-0.026401,0.521723
Maintain,0.138901,-0.005455,0.125331,1.000000,-0.043634,0.124952
Psychology,-0.024296,0.130805,-0.026401,-0.043634,1.000000,0.052585
Probablity,0.419469,-0.120824,0.521723,0.124952,0.052585,1.000000

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [12]:
data=data.drop(columns='Name')

In [13]:
new_data=pd.get_dummies(data)   #particular column has many sub type then split 
new_data                         #and use 0 &1 so we can use Logistic regression easily

,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
0,3,1,54,1,1,1
1,4,1,30,1,1,0
2,3,1,24,0,0,0
3,2,0,20,0,-1,0
4,5,0,45,1,-1,1
5,7,-1,67,0,-1,1
6,6,-1,70,1,0,1
7,2,1,19,0,1,0
8,12,1,87,1,0,1
9,13,0,80,1,0,1
10,16,0,97,0,0,1
11,16,0,90,0,0,0
12,13,-1,89,1,0,1
13,11,1,78,1,-1,1
14,9,1,80,0,0,1
15,8,1,89,1,1,1
16,6,-1,60,1,0,0
17,5,-1,50,1,0,1
18,5,1,70,0,0,1
19,4,0,50,1,0,1
20,1,0,36,0,0,1
21,13,-1,85,0,0,1
22,12,-1,80,0,0,0
23,17,0,98,0,1,1
24,18,0,80,0,1,1
25,1,-1,55,1,0,1
26,6,1,45,1,1,1
27,12,1,67,0,0,1
28,8,1,74,0,-1,1
29,0,1,2,0,1,0
...,...,...,...,...,...,...
195,12,-1,55,1,0,1
196,1,-1,54,1,1,1
197,2,-1,34,0,0,1
198,3,0,54,0,0,1
199,23,0,100,1,0,1
200,11,0,76,1,0,1
201,2,0,23,0,0,0
202,5,0,78,1,-1,1
203,6,0,65,1,-1,1
204,7,0,79,1,-1,1
205,4,1,54,1,-1,0
206,3,1,45,1,-1,0
207,12,1,69,1,-1,1
208,11,1,91,1,-1,1
209,11,1,65,0,-1,1
210,24,0,89,0,-1,1
211,11,1,11,1,-1,1
212,1,3,32,1,-1,1
213,0,1,0,1,1,0
214,0,1,0,1,1,0
215,1,1,12,1,1,0
216,1,1,21,0,1,0
217,3,1,31,0,-1,0
218,2,1,15,0,-1,0
219,1,1,12,0,-1,0
220,2,0,76,0,0,0
221,4,0,56,0,0,1
222,6,0,78,0,0,1
223,5,-1,90,1,0,1
224,7,-1,56,1,1,1

In [14]:
column_list=new_data.columns
column_list

Index(['Daily Hour', 'Coaching Mode', 'Syllabus Covered', 'Maintain',
       'Psychology', 'Probablity'],
      dtype='object')

In [15]:
x=new_data.drop(['Probablity'],axis=1).values
x

array([[ 3,  1, 54,  1,  1],
       [ 4,  1, 30,  1,  1],
       [ 3,  1, 24,  0,  0],
       ...,
       [ 6,  0, 78,  0,  0],
       [ 5, -1, 90,  1,  0],
       [ 7, -1, 56,  1,  1]], dtype=int64)

In [16]:
y=new_data['Probablity'].values                 #storing output variabe in y
print(y)

[1 0 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 0 0 1 0 0 0 1 1
 0 1 0 1 1 1 0 0 1 1 1 1 0 0 1 0 0 1 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 0 1 1 0 1 1 1 1 1
 0 1 0 0 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1
 0 0 1 1 1 0 0 1 1 1 1 1 1 1 1 0 0 0 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 0 0 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 0 0 0 0 0 0 0 0 1
 1 1 1]

In [17]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.4,random_state=0)

In [18]:
logistic=LogisticRegression()   #model

In [19]:
test_x

array([[  0,   1,   0,   0,   0],
       [  5,   1,  54,   1,   1],
       [  2,  -1,  34,   0,   0],
       [  7,   1,  87,   1,   1],
       [  2,  -1,   4,   0,   0],
       [  9,   0,  90,   1,   1],
       [  3,   1,  19,   1,   1],
       [  4,   0,  56,   0,   0],
       [ 12,   1,  69,   1,  -1],
       [ 11,  -1,  94,   1,   1],
       [ 24,   0, 100,   1,  -1],
       [  8,   1,  65,   1,  -1],
       [  9,  -1,  80,   1,  -1],
       [ 12,   1,  87,   1,   0],
       [  1,   1,   1,   1,   0],
       [  7,  -1,  65,   1,   0],
       [  9,   1,  75,   1,  -1],
       [  7,  -1,  67,   0,  -1],
       [  1,   0,  23,   0,  -1],
       [ 15,   1,  54,   0,  -1],
       [  3,   1,  56,  -1,   1],
       [ 10,  -1,  87,   1,   0],
       [ 12,  -1,  89,   0,   0],
       [  5,   0,  87,  -1,   1],
       [  8,  -1,  81,   1,   0],
       [  4,  -1,  31,   1,   0],
       [  0,   1,   0,   1,   1],
       [  1,  -1,  35,   0,  -1],
       [ 13,  -1,  89,   1,   0],
       [  5,   0,  78,   1,  -1],
       [  0,   0,   0,   1,  -1],
       [ 15,  -1,  91,   1,   1],
       [  9,  -1,  83,   1,   0],
       [  2,   1,  32,   1,   1],
       [  3,   0,  23,   1,   1],
       [  5,   1,  70,   0,   0],
       [  8,   1,  89,   1,   1],
       [ 24,   0,  99,   1,  -1],
       [  2,   1,  19,   0,   1],
       [  7,  -1,  65,   1,  -1],
       [  4,   0,  34,  -1,   1],
       [  4,  -1,  34,   1,   1],
       [  2,   1,  16,   0,  -1],
       [  4,  -1,  34,   1,   1],
       [  8,   1,  85,   1,   1],
       [  1,   3,  32,   1,  -1],
       [ 10,  -1,  65,   1,   0],
       [ 11,  -1,  89,   0,   0],
       [ 11,   1,  80,   0,   1],
       [  2,   0,  23,   0,   0],
       [ 17,   1,  93,   1,   1],
       [  1,   1,  13,   1,   0],
       [  2,  -1,  32,   0,   0],
       [  1,   0,   2,   0,   0],
       [  6,  -1,  60,   1,   0],
       [  7,   1,  65,   1,   0],
       [  2,  -1,   5,   1,   0],
       [ 16,   1,  97,   1,   0],
       [ 12,  -1,  80,   0,   0],
       [  7,   0,  79,   1,  -1],
       [  6,   0,  57,   0,   1],
       [ 23,   0, 100,   1,   0],
       [  5,   0,  45,   1,  -1],
       [  5,   1,  78,   1,   1],
       [  5,   1,  56,   1,   1],
       [  6,   1,  60,   0,   0],
       [  2,   1,  60,   1,  -1],
       [ 11,   0,  93,   1,  -1],
       [  6,   1,  45,   1,   1],
       [  5,  -1,  59,   1,   0],
       [  3,   1,  50,   1,   1],
       [ 11,   1,  78,   1,  -1],
       [  7,  -1,  65,   0,   0],
       [  3,   1,  45,   1,  -1],
       [ 18,   0,  80,   0,   1],
       [  4,   0,  10,   1,   1],
       [  5,   1,  55,   0,   1],
       [  1,   1,  22,   0,   1],
       [  3,  -1,  22,   0,   0],
       [  6,  -1,  54,   1,   0],
       [  4,   0,  50,   1,   0],
       [  1,  -1,  32,   1,   1],
       [  4,   0,  59,   1,   0],
       [  6,   0,  50,   1,   0],
       [  5,   0,  76,   1,   0],
       [ 14,  -1,  76,   1,   0],
       [  8,   0,  67,   0,   1],
       [  7,   1,  56,   1,   0],
       [  8,  -1,  78,   1,   0],
       [  4,   0,  67,   1,  -1]], dtype=int64)

In [20]:
test_y

array([0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=int64)

In [21]:
test_x

array([[  0,   1,   0,   0,   0],
       [  5,   1,  54,   1,   1],
       [  2,  -1,  34,   0,   0],
       [  7,   1,  87,   1,   1],
       [  2,  -1,   4,   0,   0],
       [  9,   0,  90,   1,   1],
       [  3,   1,  19,   1,   1],
       [  4,   0,  56,   0,   0],
       [ 12,   1,  69,   1,  -1],
       [ 11,  -1,  94,   1,   1],
       [ 24,   0, 100,   1,  -1],
       [  8,   1,  65,   1,  -1],
       [  9,  -1,  80,   1,  -1],
       [ 12,   1,  87,   1,   0],
       [  1,   1,   1,   1,   0],
       [  7,  -1,  65,   1,   0],
       [  9,   1,  75,   1,  -1],
       [  7,  -1,  67,   0,  -1],
       [  1,   0,  23,   0,  -1],
       [ 15,   1,  54,   0,  -1],
       [  3,   1,  56,  -1,   1],
       [ 10,  -1,  87,   1,   0],
       [ 12,  -1,  89,   0,   0],
       [  5,   0,  87,  -1,   1],
       [  8,  -1,  81,   1,   0],
       [  4,  -1,  31,   1,   0],
       [  0,   1,   0,   1,   1],
       [  1,  -1,  35,   0,  -1],
       [ 13,  -1,  89,   1,   0],
       [  5,   0,  78,   1,  -1],
       [  0,   0,   0,   1,  -1],
       [ 15,  -1,  91,   1,   1],
       [  9,  -1,  83,   1,   0],
       [  2,   1,  32,   1,   1],
       [  3,   0,  23,   1,   1],
       [  5,   1,  70,   0,   0],
       [  8,   1,  89,   1,   1],
       [ 24,   0,  99,   1,  -1],
       [  2,   1,  19,   0,   1],
       [  7,  -1,  65,   1,  -1],
       [  4,   0,  34,  -1,   1],
       [  4,  -1,  34,   1,   1],
       [  2,   1,  16,   0,  -1],
       [  4,  -1,  34,   1,   1],
       [  8,   1,  85,   1,   1],
       [  1,   3,  32,   1,  -1],
       [ 10,  -1,  65,   1,   0],
       [ 11,  -1,  89,   0,   0],
       [ 11,   1,  80,   0,   1],
       [  2,   0,  23,   0,   0],
       [ 17,   1,  93,   1,   1],
       [  1,   1,  13,   1,   0],
       [  2,  -1,  32,   0,   0],
       [  1,   0,   2,   0,   0],
       [  6,  -1,  60,   1,   0],
       [  7,   1,  65,   1,   0],
       [  2,  -1,   5,   1,   0],
       [ 16,   1,  97,   1,   0],
       [ 12,  -1,  80,   0,   0],
       [  7,   0,  79,   1,  -1],
       [  6,   0,  57,   0,   1],
       [ 23,   0, 100,   1,   0],
       [  5,   0,  45,   1,  -1],
       [  5,   1,  78,   1,   1],
       [  5,   1,  56,   1,   1],
       [  6,   1,  60,   0,   0],
       [  2,   1,  60,   1,  -1],
       [ 11,   0,  93,   1,  -1],
       [  6,   1,  45,   1,   1],
       [  5,  -1,  59,   1,   0],
       [  3,   1,  50,   1,   1],
       [ 11,   1,  78,   1,  -1],
       [  7,  -1,  65,   0,   0],
       [  3,   1,  45,   1,  -1],
       [ 18,   0,  80,   0,   1],
       [  4,   0,  10,   1,   1],
       [  5,   1,  55,   0,   1],
       [  1,   1,  22,   0,   1],
       [  3,  -1,  22,   0,   0],
       [  6,  -1,  54,   1,   0],
       [  4,   0,  50,   1,   0],
       [  1,  -1,  32,   1,   1],
       [  4,   0,  59,   1,   0],
       [  6,   0,  50,   1,   0],
       [  5,   0,  76,   1,   0],
       [ 14,  -1,  76,   1,   0],
       [  8,   0,  67,   0,   1],
       [  7,   1,  56,   1,   0],
       [  8,  -1,  78,   1,   0],
       [  4,   0,  67,   1,  -1]], dtype=int64)

In [22]:
logistic.fit(train_x,train_y)  #fit training data

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
prediction=logistic.predict(test_x)       #prediction from the test data 
prediction

array([0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=int64)

In [24]:
confusion_matrix=confusion_matrix(test_y, prediction)     #confusion matrix   
confusion_matrix

array([[17,  9],
       [ 8, 56]], dtype=int64)

In [25]:
accuracy_score=accuracy_score(test_y, prediction)        #calculating the accuracy
print(accuracy_score)                                    #This is the accuracy it can be mor accurate if we romove some more

0.8111111111111111

In [26]:
print("No of misclassified value :",(test_y!=prediction).sum())

No of misclassified value : 17

In [27]:
with open("neet.pkl","wb") as file:
    pickle.dump(logistic,file)

In [28]:
x

array([[ 3,  1, 54,  1,  1],
       [ 4,  1, 30,  1,  1],
       [ 3,  1, 24,  0,  0],
       ...,
       [ 6,  0, 78,  0,  0],
       [ 5, -1, 90,  1,  0],
       [ 7, -1, 56,  1,  1]], dtype=int64)

In [29]:
prediction=logistic.predict_proba([[23, 0, 70, 0, 0]])       #prediction from the test data 
prediction

array([[0.01057435, 0.98942565]])

In [30]:
from flask import Flask,render_template,request
import pickle
with open("neet.pkl","rb") as file:
    logistic=pickle.load(file)
app = Flask(__name__)
@app.route("/demo")
def demo():
    return render_template('demo.html')
@app.route("/next")
def lamo():
    return render_template('next.html')
@app.route("/hello",methods=["GET","POST"])
def Back():
    if request.method=="POST":
        mydict=request.form
        user1=int(mydict['user1'])
        user2=int(mydict['user2'])
        user3=int(mydict['user3'])
        user4=int(mydict['user4'])
        user5=int(mydict['user5'])
        myvar=[user1,user4,user2,user3,user5]
        print([myvar])
        prob=logistic.predict_proba([myvar])[0][1]
        prob=prob*100
        if(user1<24 and user2<100):
            return render_template('next.html',inf=round(prob,2))
        else:
            return render_template('hello.html')
  
    else:
        return render_template('hello.html')
        
    

@app.route("/",methods=["GET","POST"])
def login():
    if request.method=="POST":
        mydict=request.form
        user1=int(mydict['user1'])
        user2=int(mydict['user2'])
        user3=int(mydict['user3'])
        user4=int(mydict['user4'])
        user5=int(mydict['user5'])
        myvar=[user1,user4,user2,user3,user5]
        print([myvar])
        prob=logistic.predict_proba([myvar])[0][1]
        prob=prob*100
        if(user1<24 and user2<100):
            return render_template('next.html',inf=round(prob,2))
        else:
            return render_template('hello.html')
    else:
        return render_template('next.html')
    
   
if __name__ == "__main__":

    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with stat

SystemExit: 1

C:\Users\hp\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3333: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)